In [20]:
import pandas as pd

w_0 = pd.read_json('Colect_Data/weather.json')
w_1 = pd.read_json('Colect_Data/weather1.json')
w_2 = pd.read_json('Colect_Data/weather2.json')
pub = pd.read_csv('datas/out_data/pub.csv', header=None)

In [88]:

from Package import loadfile

a, b, c = loadfile.load()

In [90]:
a.dropna(inplace=True)

In [94]:
a[' 취급액 ']

0          2099000.0
1          4371000.0
2          3262000.0
3          6955000.0
4          6672000.0
            ...
38299     10157000.0
38300     50929000.0
38301    104392000.0
38302     13765000.0
38303     46608000.0
Name:  취급액 , Length: 35379, dtype: float64

In [95]:
b

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
0,02:00,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.0,0.0,0.000,0.000
1,02:01,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.0,0.0,0.000,0.012
2,02:02,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.0,0.0,0.000,0.000
3,02:03,0.0,0.0,0.014,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.017,0.0,0.000,0.0,0.0,0.000,0.000
4,02:04,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.000,...,0.0,0.000,0.000,0.017,0.0,0.000,0.0,0.0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,01:55,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000
1436,01:56,0.0,0.0,0.000,0.0,0.027,0.0,0.0,0.0,0.000,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000
1437,01:57,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000
1438,01:58,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.017,0.000,0.0,0.015,0.0,0.0,0.019,0.000
1439,01:59,0.0,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.004,...,0.0,0.013,0.000,0.000,0.0,0.015,0.0,0.0,0.000,0.000

In [86]:
import matplotlib.pyplot as plt
plt.plot(w_0[w_0['loc']=='서울']['rain'])

TypeError: unhashable type: 'numpy.ndarray'

In [12]:
w_1

                    time loc  tem  hum  rain  snow
0       2019-01-01 00:00  안동 -5.5   41   0.0   0.0
1       2019-01-01 01:00  안동 -5.1   39   0.0   0.0
2       2019-01-01 02:00  안동 -6.5   48   0.0   0.0
3       2019-01-01 03:00  안동 -7.1   54   0.0   0.0
4       2019-01-01 04:00  안동 -7.0   60   0.0   0.0
...                  ...  ..  ...  ...   ...   ...
210235  2019-12-31 19:00  강화 -8.4   60   0.0   0.0
210236  2019-12-31 20:00  강화 -8.6   62   0.0   0.0
210237  2019-12-31 21:00  강화 -8.4   62   0.0   0.0
210238  2019-12-31 22:00  강화 -7.5   62   0.0   0.0
210239  2019-12-31 23:00  강화 -6.4   51   0.0   0.0

[210240 rows x 6 columns]

In [14]:
w_2

                   time loc   tem  hum  rain  snow
0      2019-01-01 00:00  양평  -9.2   59   0.0   0.0
1      2019-01-01 01:00  양평 -10.2   67   0.0   0.0
2      2019-01-01 02:00  양평 -10.4   70   0.0   0.0
3      2019-01-01 03:00  양평 -11.2   65   0.0   0.0
4      2019-01-01 04:00  양평 -11.4   73   0.0   0.0
...                 ...  ..   ...  ...   ...   ...
87595  2019-12-31 19:00  보령  -4.8   61   0.0   0.0
87596  2019-12-31 20:00  보령  -5.3   64   0.0   0.0
87597  2019-12-31 21:00  보령  -5.5   68   0.0   0.0
87598  2019-12-31 22:00  보령  -6.0   72   0.0   0.0
87599  2019-12-31 23:00  보령  -6.0   74   0.0   0.0

[87600 rows x 6 columns]

In [61]:
pub[4] = list(map(lambda i : int(i.replace(',','')), pub[4]))

In [59]:
pub = pub.drop(8, axis=1)
pub.dropna(inplace=True)

In [64]:
pub[4] = pub[4] / pub[4].sum()

In [67]:
pub.drop(0, axis=1, inplace=True)

In [101]:
pd.read_json('datas/out_data/ebs.json')

,time,title,content
0,2019-01-01 05:00,왕초보 영어,제794회 너의 새해 결심은 뭐니?
1,2019-01-01 05:30,세계견문록 아틀라스,자연의 색 서호주
2,2019-01-01 06:00,한국기행(전주재방),"국수기행2 2부 한 그릇, 바다의 맛"
3,2019-01-01 06:20,세계테마기행,영혼의 팔레트 과테말라 2부 모험가의 낙원
4,2019-01-01 07:00,강철소방대 파이어로보(종합),위기일발 메가시티 외
...,...,...,...
17439,2019-12-31 23:35,미래교육 플러스,"미래를 만드는 언어, 수학 3부 - '생각의 힘' 수학으로 키워라!"
17440,2019-12-31 24:25,지식의 기쁨(재),소통이 관계를 좌우한다
17441,2019-12-31 24:55,지식채널e(전주재방),안아줄 수밖에
17442,2019-12-31 25:00,지식채널e,9와 숫자들
17443,2019-12-31 25:05,2019 헬로루키,2화

In [1]:
url = 'http://www.11st.co.kr/category/DisplayCategory.tmall?method=getSearchFilterAjax&pageLoadType=ajax&version=1.2&method=getDisplayCategory2Depth&pageSize=40&viewType=I&pageNo=10&lCtgrNo=1001295&dispCtgrNo=1001295&pageNum=10'

In [3]:
import requests
from bs4 import BeautifulSoup
import json

r = requests.get(url)
sp = BeautifulSoup(json.loads(r.text)['template'], 'html.parser')

In [8]:
sp.select('li')[0]

<li data-ctgrrank="0" data-seq="1" id="thisClick_2938232484">
<div class="box_pd ">
<a data-log-actionid-label="product" data-log-body="{'ad_area_gubn':'','ad_typ_gubn':'','ad_yn':'','content_no':'2938232484','content_type':'PRODUCT','content_name':'ë ê·¸ë
¸ìí¸ ìì¸ì¤íë(ë¸ë¼ì´) WF-1','product_price':'103470','trc_no':'0','page_no':'10'}" data-log-index="1" href="http://www.11st.co.kr/product/SellerProductDetail.tmall?method=getSellerProductDetail&amp;prdNo=2938232484&amp;trTypeCd=21&amp;trCtgrNo=1001295" onclick="rakeLog.sendRakeLog(this);HeaderComm.CommonLog.doClick('01', '0', '2938232484', '01', 'N', 1, 40, 10, '', '01');HeaderComm.Product.doTracking(2938232484,'0','','',false,'', this, 'Y');return false;" target="_blank">
<div class="img_plot">
<img alt="ë ê·¸ë
¸ìí¸ ìì¸ì¤íë(ë¸ë¼ì´) WF-1" onerror="skp11.common.blankImage(this, 'http://i.011st.com/ex_t/R/275x275/1/85/1/src/img/product/no_image.gif');" src="http://i.011st.com/ex_t/R/275x275/1/85/1/src/pd/20/2/3/2/4/8/4/TqkJg/2938232484_L300.jpg"/>
</div>
<div class="pname">
<p>ë ê·¸ë
¸ìí¸ ìì¸ì¤íë(ë¸ë¼ì´) WF-1</p>
<div class="price_info cfix">
<span class="sale">2<span>%</span>
</span>
<span class="price_detail">
<span class="hide">ì ìê°</span><s class="normal_price">106,670ì</s>
<span class="hide">íë§¤ê°</span><strong class="sale_price">103,470</strong>ì
                                        </span>
</div>
<div class="prd_flag">
<div class="s_flag">
<em>ë¬´ë£ë°°ì¡</em>
</div>
</div>
</div>
</a>
</div>
</li>

In [68]:
from Package import FileSearch

js = FileSearch.JsonSearch()
fl = js.search(r'C:\Users\svsta\big_contest\Colect_Data')

In [69]:
fl

['C:\\Users\\svsta\\big_contest\\Colect_Data\\weather0.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather1.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather2.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather3.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather4.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather5.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather6.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather7.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather8.json',
 'C:\\Users\\svsta\\big_contest\\Colect_Data\\weather9.json']

In [73]:
import pandas as pd
result_df = pd.DataFrame()
for f in fl:
    result_df = pd.concat([result_df, pd.read_json(f)])

In [74]:
a = result_df.columns
result_df = result_df.drop_duplicates(a)

In [76]:
result_df.reset_index(inplace=True)

In [78]:
result_df[['time','loc', 'tem', 'hum', 'rain', 'snow']].to_json('final_weather.json')

In [79]:
!dir

C ����̺��� ����: Local Disk
 ���� �Ϸ� ��ȣ: 9248-BB1B

 c:\Users\svsta\big_contest ���͸�

2020-08-24  ���� 07:26    <DIR>          .
2020-08-24  ���� 07:26    <DIR>          ..
2020-08-05  ���� 07:47    <DIR>          .vscode
2020-08-24  ���� 07:26            79,400 a.ipynb
2020-08-24  ���� 07:25    <DIR>          Colect_Data
2020-08-14  ���� 07:21    <DIR>          datas
2020-08-13  ���� 03:53         1,816,380 EDA.ipynb
2020-08-24  ���� 07:26        86,012,954 final_weather.json
2020-08-14  ���� 08:39           447,789 Model.ipynb
2020-08-24  ���� 06:16    <DIR>          Package
2020-08-20  ���� 11:02           176,430 temp.ipynb
               5�� ����          88,532,953 ����Ʈ
               6�� ���͸�  53,515,968,512 ����Ʈ ����

In [67]:
for i in result_df['loc'].unique():
    if len(result_df[result_df['loc'] == i]) != 8760:
        print(i)

영덕

In [8]:
len(result_df['time'].unique())

8760

In [10]:
import copy

In [13]:
test = copy.deepcopy(result_df[result_df['loc']=='영덕'])
test['st'] = list(map(lambda i : i.split(), test['time']))

In [15]:
test['day'] = list(map(lambda i : i[0], test['st']))
test['hour'] = list(map(lambda i : i[1], test['st']))

In [29]:
null_df = pd.DataFrame(result_df['time'].unique())

In [44]:
test.set_index('time', inplace=True) 
test['check'] = null_df[1]

In [46]:
test

,loc,tem,hum,rain,snow,st,day,hour,check
time,,,,,,,,,
2019-01-01 00:00,영덕,-1.3,23,0.0,0.0,"[2019-01-01, 00:00]",2019-01-01,00:00,1
2019-01-01 01:00,영덕,-2.0,24,0.0,0.0,"[2019-01-01, 01:00]",2019-01-01,01:00,1
2019-01-01 02:00,영덕,-1.8,26,0.0,0.0,"[2019-01-01, 02:00]",2019-01-01,02:00,1
2019-01-01 03:00,영덕,-2.8,29,0.0,0.0,"[2019-01-01, 03:00]",2019-01-01,03:00,1
2019-01-01 04:00,영덕,-2.8,36,0.0,0.0,"[2019-01-01, 04:00]",2019-01-01,04:00,1
...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00,영덕,-2.9,34,0.0,0.0,"[2019-12-31, 19:00]",2019-12-31,19:00,1
2019-12-31 20:00,영덕,-3.9,37,0.0,0.0,"[2019-12-31, 20:00]",2019-12-31,20:00,1
2019-12-31 21:00,영덕,-3.4,33,0.0,0.0,"[2019-12-31, 21:00]",2019-12-31,21:00,1
2019-12-31 22:00,영덕,-3.7,33,0.0,0.0,"[2019-12-31, 22:00]",2019-12-31,22:00,1
2019-12-31 23:00,영덕,-4.4,35,0.0,0.0,"[2019-12-31, 23:00]",2019-12-31,23:00,1

In [38]:
null_df.set_index(0,inplace=True)

In [39]:
null_df[1] = 1

In [47]:
null_df['check'] = test['check']

In [61]:
# import numpy as np
null_df[null_df.isnull()['check'] == True]

                  1  check
0
2019-09-24 00:00  1    NaN

In [28]:
test[test['hour'] == '00:00'][-50:]

,time,loc,tem,hum,rain,snow,st,day,hour
118703,2019-11-12 00:00,영덕,10.9,68,0.0,0.0,"[2019-11-12, 00:00]",2019-11-12,00:00
118727,2019-11-13 00:00,영덕,9.0,83,0.0,0.0,"[2019-11-13, 00:00]",2019-11-13,00:00
118751,2019-11-14 00:00,영덕,10.6,39,0.0,0.0,"[2019-11-14, 00:00]",2019-11-14,00:00
118775,2019-11-15 00:00,영덕,0.9,41,0.0,0.0,"[2019-11-15, 00:00]",2019-11-15,00:00
118799,2019-11-16 00:00,영덕,7.8,75,0.0,0.0,"[2019-11-16, 00:00]",2019-11-16,00:00
118823,2019-11-17 00:00,영덕,6.7,91,0.0,0.0,"[2019-11-17, 00:00]",2019-11-17,00:00
118847,2019-11-18 00:00,영덕,11.3,98,0.0,0.0,"[2019-11-18, 00:00]",2019-11-18,00:00
118871,2019-11-19 00:00,영덕,3.9,49,0.0,0.0,"[2019-11-19, 00:00]",2019-11-19,00:00
118895,2019-11-20 00:00,영덕,2.2,45,0.0,0.0,"[2019-11-20, 00:00]",2019-11-20,00:00
118919,2019-11-21 00:00,영덕,2.3,42,0.0,0.0,"[2019-11-21, 00:00]",2019-11-21,00:00
118943,2019-11-22 00:00,영덕,6.1,77,0.0,0.0,"[2019-11-22, 00:00]",2019-11-22,00:00
118967,2019-11-23 00:00,영덕,8.6,93,0.0,0.0,"[2019-11-23, 00:00]",2019-11-23,00:00
118991,2019-11-24 00:00,영덕,8.6,93,0.0,0.0,"[2019-11-24, 00:00]",2019-11-24,00:00
119015,2019-11-25 00:00,영덕,15.1,76,0.0,0.0,"[2019-11-25, 00:00]",2019-11-25,00:00
119039,2019-11-26 00:00,영덕,6.7,97,5.0,0.0,"[2019-11-26, 00:00]",2019-11-26,00:00
119063,2019-11-27 00:00,영덕,4.0,95,0.0,0.0,"[2019-11-27, 00:00]",2019-11-27,00:00
119087,2019-11-28 00:00,영덕,5.2,79,0.0,0.0,"[2019-11-28, 00:00]",2019-11-28,00:00
119111,2019-11-29 00:00,영덕,2.8,97,0.0,0.0,"[2019-11-29, 00:00]",2019-11-29,00:00
119135,2019-11-30 00:00,영덕,3.8,80,0.0,0.0,"[2019-11-30, 00:00]",2019-11-30,00:00
119159,2019-12-01 00:00,영덕,7.4,71,0.0,0.0,"[2019-12-01, 00:00]",2019-12-01,00:00
119183,2019-12-02 00:00,영덕,6.5,92,3.5,0.0,"[2019-12-02, 00:00]",2019-12-02,00:00
119207,2019-12-03 00:00,영덕,0.7,43,0.0,0.0,"[2019-12-03, 00:00]",2019-12-03,00:00
119231,2019-12-04 00:00,영덕,4.9,61,0.0,0.0,"[2019-12-04, 00:00]",2019-12-04,00:00
119255,2019-12-05 00:00,영덕,1.8,67,0.0,0.0,"[2019-12-05, 00:00]",2019-12-05,00:00
119279,2019-12-06 00:00,영덕,-2.8,38,0.0,0.0,"[2019-12-06, 00:00]",2019-12-06,00:00
119303,2019-12-07 00:00,영덕,-1.7,28,0.0,0.0,"[2019-12-07, 00:00]",2019-12-07,00:00
119327,2019-12-08 00:00,영덕,2.7,56,0.0,0.0,"[2019-12-08, 00:00]",2019-12-08,00:00
119351,2019-12-09 00:00,영덕,1.7,50,0.0,0.0,"[2019-12-09, 00:00]",2019-12-09,00:00
119375,2019-12-10 00:00,영덕,1.9,76,0.0,0.0,"[2019-12-10, 00:00]",2019-12-10,00:00
119399,2019-12-11 00:00,영덕,4.1,82,0.0,0.0,"[2019-12-11, 00:00]",2019-12-11,00:00
119423,2019-12-12 00:00,영덕,3.9,29,0.0,0.0,"[2019-12-12, 00:00]",2019-12-12,00:00
119447,2019-12-13 00:00,영덕,1.4,31,0.0,0.0,"[2019-12-13, 00:00]",2019-12-13,00:00
119471,2019-12-14 00:00,영덕,4.9,21,0.0,0.0,"[2019-12-14, 00:00]",2019-12-14,00:00
119495,2019-12-15 00:00,영덕,4.1,64,0.0,0.0,"[2019-12-15, 00:00]",2019-12-15,00:00
119519,2019-12-16 00:00,영덕,2.4,90,0.0,0.0,"[2019-12-16, 00:00]",2019-12-16,00:00
119543,2019-12-17 00:00,영덕,7.7,72,0.0,0.0,"[2019-12-17, 00:00]",2019-12-17,00:00
119567,2019-12-18 00:00,영덕,10.4,67,0.0,0.0,"[2019-12-18, 00:00]",2019-12-18,00:00
119591,2019-12-19 00:00,영덕,6.8,55,0.0,0.0,"[2019-12-19, 00:00]",2019-12-19,00:00
119615,2019-12-20 00:00,영덕,2.2,38,0.0,0.0,"[2019-12-20, 00:00]",2019-12-20,00:00
119639,2019-12-21 00:00,영덕,1.7,37,0.0,0.0,"[2019-12-21, 00:00]",2019-12-21,00:00
119663,2019-12-22 00:00,영덕,0.0,62,0.0,0.0,"[2019-12-22, 00:00]",2019-12-22,00:00
119687,2019-12-23 00:00,영덕,1.1,75,0.0,0.0,"[2019-12-23, 00:00]",2019-12-23,00:00
119711,2019-12-24 00:00,영덕,4.5,52,0.0,0.0,"[2019-12-24, 00:00]",2019-12-24,00:00
119735,2019-12-25 00:00,영덕,1.3,89,0.0,0.0,"[2019-12-25, 00:00]",2019-12-25,00:00
119759,2019-12-26 00:00,영덕,4.9,41,0.0,0.0,"[2019-12-26, 00:00]",2019-12-26,00:00
119783,2019-12-27 00:00,영덕,2.7,61,0.0,0.0,"[2019-12-27, 00:00]",2019-12-27,00:00
119807,2019-12-28 00:00,영덕,0.6,38,0.0,0.0,"[2019-12-28, 00:00]",2019-12-28,00:00
119831,2019-12-29 00:00,영덕,0.3,55,0.0,0.0,"[2019-12-29, 00:00]",2019-12-29,00:00
119855,2019-12-30 00:00,영덕,4.6,96,4.5,0.0,"[2019-12-30, 00:00]",2019-12-30,00:00
119879,2019-12-31 00:00,영덕,3.4,47,0.0,0.0,"[2019-12-31, 00:00]",2019-12-31,00:00

In [7]:
for i in result_df['time'].unique()[6000:]:
    print(len(result_df[result_df['time'] == i]))

94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94

KeyboardInterrupt:

In [6]:
result_df[result_df['loc'] == '부안']

                   time loc  tem  hum  rain  snow
17520  2019-01-01 00:00  부안 -1.7   58   0.0   0.0
17521  2019-01-01 01:00  부안 -1.8   61   0.0   0.0
17522  2019-01-01 02:00  부안 -1.6   61   0.0   0.0
17523  2019-01-01 03:00  부안 -1.6   62   0.0   0.0
17524  2019-01-01 04:00  부안 -1.8   71   0.0   0.0
...                 ...  ..  ...  ...   ...   ...
25795  2019-12-11 19:00  부안  6.5   62   0.0   0.0
25796  2019-12-11 20:00  부안  6.1   59   0.0   0.0
25797  2019-12-11 21:00  부안  6.2   60   0.0   0.0
25798  2019-12-11 22:00  부안  5.7   60   0.0   0.0
25799  2019-12-11 23:00  부안  5.9   58   0.0   0.0

[8280 rows x 6 columns]

In [ ]:
result_df['time'].unique()