# 데이터 탐색

## 데이터 확인

In [1]:
import pandas as pd

In [3]:
perform_df = pd.read_csv('datas/raw_data/per_raw.csv')

In [17]:
rating_df = pd.read_csv('datas/raw_data/rat_raw.csv')

In [7]:
perform_df.describe()

              노출(분)           마더코드           상품코드
count  21525.000000   38309.000000   38309.000000
mean      20.173798  100390.972148  201219.923334
std        3.633283     249.927870     735.677344
min        2.000000  100000.000000  200000.000000
25%       20.000000  100155.000000  200550.000000
50%       20.000000  100346.000000  201167.000000
75%       20.000000  100596.000000  201863.000000
max       60.000000  100849.000000  202513.000000

In [20]:
rating_df.iloc[:1439].mean()

2019-01-01                  0.003683
2019-01-02                  0.005568
2019-01-03                  0.001732
2019-01-04                  0.002659
2019-01-05                  0.002081
                              ...
2019-12-28                  0.006122
2019-12-29                  0.004480
2019-12-30                  0.004579
2019-12-31                  0.004914
2019-01-01 to 2019-12-31    0.004297
Length: 366, dtype: float64

In [21]:
rating_df.iloc[1440]

시간대                         월화수목금토일02:00-01:59
2019-01-01                               0.004
2019-01-02                               0.006
2019-01-03                               0.002
2019-01-04                               0.003
                                   ...
2019-12-28                               0.006
2019-12-29                               0.004
2019-12-30                               0.005
2019-12-31                               0.005
2019-01-01 to 2019-12-31                 0.004
Name: 1440, Length: 367, dtype: object

In [23]:
rating_df.drop(1440, axis=0, inplace=True)

In [34]:
rating_df.to_json('raw_rating.json')

In [36]:

perform_df.isnull().sum()

방송일시         0
노출(분)    16784
마더코드         0
상품코드         0
상품명          0
상품군          0
판매단가         0
 취급액       937
dtype: int64

## 데이터 최초 전처리
1. 방송일시 datetime 형식으로 변환
2. 빈 값 처리 (노출(분))

In [68]:
from datetime import datetime
perform_df['방송일시'] = list(map(lambda i : datetime.strptime(str(i), '%Y-%m-%d %H:%M'), perform_df['방송일시']))

In [72]:
perform_df['노출(분)'] = perform_df['노출(분)'].fillna(method='pad')

In [81]:
len(perform_df['상품군'].unique())

12

In [75]:
perform_df[perform_df['상품군'] =='무형'].isnull().sum()

방송일시       0
노출(분)      0
마더코드       0
상품코드       0
상품명        0
상품군        0
판매단가       0
 취급액     937
dtype: int64

In [83]:
perform_df.to_json('datas/raw_data/raw_perform.json')

In [86]:
perform_df.isnull().sum()

방송일시       0
노출(분)      0
마더코드       0
상품코드       0
상품명        0
상품군        0
판매단가       0
 취급액     937
dtype: int64

In [87]:
perform_df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,"39,900","2,099,000"
1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,"39,900","4,371,000"
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,"39,900","3,262,000"
3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,"39,900","6,955,000"
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,"39,900","6,672,000"
...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.0,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,-,NaN
38305,2020-01-01 00:40:00,20.0,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,-,NaN
38306,2020-01-01 01:00:00,20.0,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,-,NaN
38307,2020-01-01 01:20:00,20.0,100490,201478,더케이 예다함 상조서비스(티포트),무형,-,NaN
38308,2020-01-01 01:40:00,17.0,100490,201478,더케이 예다함 상조서비스(티포트),무형,-,NaN

In [89]:
test_data = pd.read_csv('datas/test_data/forecast.csv')

In [101]:
test_data[test_data['노출(분)'].isnull()]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
22,2020-06-01 13:20,NaN,100570,201671,(특)KT휴대폰_삼성갤럭시 A31,무형,-,NaN
24,2020-06-01 13:40,NaN,100570,201671,(특)KT휴대폰_삼성갤럭시 A31,무형,-,NaN
26,2020-06-01 14:00,NaN,100570,201671,(특)KT휴대폰_삼성갤럭시 A31,무형,-,NaN
35,2020-06-01 17:20,NaN,100383,201250,한라궁 황칠 제주오메기떡 2종 40개 (호박오메기20봉+팥오메기20봉),농수축,"29,900",NaN
37,2020-06-01 17:40,NaN,100383,201250,한라궁 황칠 제주오메기떡 2종 40개 (호박오메기20봉+팥오메기20봉),농수축,"29,900",NaN
...,...,...,...,...,...,...,...,...
2879,2020-06-30 23:50,NaN,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,"119,000",NaN
2881,2020-07-01 0:00,NaN,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,"119,000",NaN
2882,2020-07-01 0:00,NaN,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,"119,000",NaN
2884,2020-07-01 0:10,NaN,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,속옷,"119,000",NaN
2885,2020-07-01 0:10,NaN,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,속옷,"119,000",NaN

In [113]:
test_data[test_data['방송일시'] == '2020-06-01 13:20']

                방송일시  노출(분)    마더코드    상품코드                 상품명 상품군 판매단가  취급액
21  2020-06-01 13:20   20.0  100570  201673    KT휴대폰_삼성갤럭시 노트10  무형   -   NaN
22  2020-06-01 13:20    NaN  100570  201671  (특)KT휴대폰_삼성갤럭시 A31  무형   -   NaN

In [115]:
test_data['노출(분)'].fillna(method='pad', inplace=True)

In [120]:
from datetime import datetime
test_data['방송일시'] = list(map(lambda i : datetime.strptime(str(i), '%Y-%m-%d %H:%M'), test_data['방송일시']))

In [121]:
test_data.to_json('datas/test_data/forecast.json')

### 최종 학습용 데이터 = 실적(raw_perform.json), 시청률(raw_rating.json)
### 최종 평가용 데이터 = 예측(forecast.json)