# 빅콘테스트 - NSSHOP+

## Vision  
판매실적 예측을 통한 편성 최적화 방안(모형) 도출

## Mission  
1. 편성데이터(NS홈쇼핑) 를 활용하여 방송편성표에 따른 판매실적을 예측  
2. 최적 수익을 고려한 요일별/ 시간대별 / 카테고리별 편성 최적화 방안(모형) 제시

기본 정보 1 - 취급액 = 판매단가 * 주문량 (취소, 반품 제외)  
기본 정보 2 - ~19년 10월 : 06:00 ~ 익일 02:00   
기본 정보 3 - 19년 11월~ : 06:20 ~ 익일 02:20  
기본 정보 4 - 예측 기간인 20년 6월 편성표는 월~토 06:20 ~ 02:20(익일), 일요일은 06:20 ~ 02:00로 구성 (심야시간대 제외) <-- ?  
기본 정보 5 - 편성 시간 : 10분 ~ 60분  
  
추정 제외 사항 1 - 토요일 18:00~18:20(+-20) ※ 정보방송시간  
추정 제외 사항 2 - 판매단가 = 0 (무형) 상품  
  
참고사항 1 - 1월 1일 = 화요일

In [1]:
import pandas as pd
temp = pd.read_csv(r'datas\train_data\performance.csv')

In [2]:
import datetime

In [3]:
from BIGCON import DataProcessing

temp = DataProcessing.date_change(temp, 0)

In [4]:
temp

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.0,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38305,2020-01-01 00:40:00,20.0,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38306,2020-01-01 01:00:00,20.0,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38307,2020-01-01 01:20:00,20.0,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN
38308,2020-01-01 01:40:00,17.0,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN