In [1]:
import pandas as pd

In [5]:
weather_df = pd.read_csv('datas/out_data/2019연중기후.csv', encoding='cp949')

In [6]:
weather_df

             날짜  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0    2019-01-01  전국     -2.1     -5.8      2.1
1    2019-01-02  전국     -2.5     -7.0      3.2
2    2019-01-03  전국     -2.1     -7.7      5.0
3    2019-01-04  전국     -0.7     -7.3      5.3
4    2019-01-05  전국      0.2     -4.6      5.3
..          ...  ..      ...      ...      ...
360  2019-12-27  전국      0.6     -3.2      5.1
361  2019-12-28  전국      0.5     -4.9      7.5
362  2019-12-29  전국      2.6     -2.4      6.6
363  2019-12-30  전국      5.0      0.1      9.8
364  2019-12-31  전국     -3.8     -6.7      0.4

[365 rows x 5 columns]

In [10]:
import datetime
str(datetime.date(2019, 1, 1))

'2019-01-01'

In [11]:
datetime.date(2019, 1, 1) +datetime.timedelta(days=1)

datetime.date(2019, 1, 2)

In [14]:
import requests
from bs4 import BeautifulSoup

In [15]:
start_date = '20190101'
URL = 'https://www.ebs.co.kr/schedule?channelCd=tv&date={}&onor=tv'.format(start_date)

r = requests.get(URL)
sp = BeautifulSoup(r.text, 'html.parser')

In [19]:
sp.select('ul.main_timeline > li')

54

In [50]:
URL = 'https://www.gsshop.com/shop/tv/tvScheduleMain.gs?lseq=415680-1&gsid=ECmain-AU415680-AU415680-1#{}_LIVE'.format(start_date)

In [51]:
r = requests.get(URL)
sp = BeautifulSoup(r.text, 'html.parser')

In [53]:
r.text

'<html>\r\n<head>\r\n<meta charset="UTF-8"/></head>\r\n<body>\r\n<br>\r\n <br>\r\n <center>\r\n\t<div class="suspend-login">\r\n\t\t<h2>\r\n\t\tì\xa0\x91ì\x86\x8dì\x9d´ ì\x9d¼ì\x8b\x9c ì°¨ë\x8b¨ë\x90\x98ì\x97\x88ì\x8aµë\x8b\x88ë\x8b¤.\r\n\t\t</h2>\r\n\t\t\t<div class="inner-box">\r\n\t\t\t\t\t<p class="paragraph1">GS SHOPì\x97\x90ì\x84\x9cë\x8a\x94 ê³\xa0ê°\x9dë\x8b\x98ì\x9d\x98 ì\x86\x8cì¤\x91í\x95\x9c ê°\x9cì\x9d¸ì\xa0\x95ë³´ ë³´í\x98¸ ì°¨ì\x9b\x90ì\x97\x90ì\x84\x9c ë¹\x84ì\xa0\x95ì\x83\x81ì\xa0\x81ì\x9d¸ ì\x9a\x94ì²\xadì\x9d\x84 ì\x9d¼ì\x8b\x9cì\xa0\x81ì\x9c¼ë¡\x9c ì°¨ë\x8b¨í\x95©ë\x8b\x88ë\x8b¤. </p>\r\n\t\t\t\t\t<p class="paragraph1">ì\x95\x88ì\xa0\x84í\x95\x9c ì\x84\x9cë¹\x84ì\x8a¤ ì\x9d´ì\x9a©ì\x9d\x84 ì\x9c\x84í\x95´ ì\x9e\xa0ì\x8b\x9c í\x9b\x84 ë\x8b¤ì\x8b\x9c ë¡\x9cê·¸ì\x9d¸ì\x9d\x84 ì\x8b\x9cë\x8f\x84í\x95´ì£¼ì\x84¸ì\x9a\x94.</p>\r\n\t\t\t\t\t<p class="paragraph2">ìµ\x9cê·¼ í\x83\x80 ì\x82¬ì\x9d´í\x8a¸ë¥¼ í\x86µí\x95´ í\x99\x95ë³´ë\x90\x9c ID/PWë¥¼ ì\x9d´ì\x9a©í\x95\x98ì\x97¬ ë¹\x84ì\xa0\x95ì\x83\x81ì\xa0\x81ì\x9d¸ ë¡\x9cê·¸ì\x9d¸ ì\x8b\x9cë\x8f\x84 ì\x82¬ë¡\x80ê°\x80 ë°\x9cê²¬ë\x90¨ì\x97\x90 ë\x94°ë¥¸ ì\x82¬ì\xa0\x84 ì¡°ì¹\x98ì\x9e\x85ë\x8b\x88ë\x8b¤.</p> \r\n                                                            <p class="paragraph2">ê³\xa0ê°\x9dë\x8b\x98ì\x9d\x98 ë\x84\x88ê·¸ë\x9f¬ì\x9a´ ì\x96\x91í\x95´ ë¶\x80í\x83\x81ë\x93\x9cë¦¬ë©° ê¶\x81ê¸\x88í\x95\x98ì\x8b\xa0 ë\x82´ì\x9a©ì\x9d\x80 ê³\xa0ê°\x9dì\x84¼í\x84°(1899-4500)ë¡\x9c ë¬¸ì\x9d\x98 ë¶\x80í\x83\x81ë\x93\x9cë¦½ë\x8b\x88ë\x8b¤.</p>\r\n\t\t\t</div>\r\n\t</div>\r\n <table>\r\n <br>\r\n <br>\r\n <tr>\r\n <td>Detect client IP</td>\r\n <td>222.107.238.125</td>\r\n </tr>\r\n </table>\r\n </center>\r\n <br>\r\n</body>\r\n</html>'

In [48]:
sp.select('div#tvSchedule')

[]

In [41]:
pd.read_json('Colect_Data/ebs.json')

,time,title,content
0,2019-01-01 05:00,왕초보 영어,제794회 너의 새해 결심은 뭐니?
1,2019-01-01 05:30,세계견문록 아틀라스,자연의 색 서호주
2,2019-01-01 06:00,한국기행(전주재방),"국수기행2 2부 한 그릇, 바다의 맛"
3,2019-01-01 06:20,세계테마기행,영혼의 팔레트 과테말라 2부 모험가의 낙원
4,2019-01-01 07:00,강철소방대 파이어로보(종합),위기일발 메가시티 외
...,...,...,...
17439,2019-12-31 23:35,미래교육 플러스,"미래를 만드는 언어, 수학 3부 - '생각의 힘' 수학으로 키워라!"
17440,2019-12-31 24:25,지식의 기쁨(재),소통이 관계를 좌우한다
17441,2019-12-31 24:55,지식채널e(전주재방),안아줄 수밖에
17442,2019-12-31 25:00,지식채널e,9와 숫자들
17443,2019-12-31 25:05,2019 헬로루키,2화