In [1]:
import pandas as pd

In [42]:
perform_df=pd.read_json('datas/raw_data/raw_perform.json')

In [43]:
perform_df = perform_df[perform_df['상품군']!='무형']

In [44]:
perform_df['판매단가']=list(map(lambda i: int(i.replace(',','')), perform_df['판매단가']))
perform_df[' 취급액 ']=list(map(lambda i: int(i.replace(',','')), perform_df[' 취급액 ']))

In [17]:
perform_df[perform_df[' 취급액 '] ==50000]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
144,1546466400000,20,100148,200432,무이자 LG 울트라HD TV 55UK6800HNC,가전,1440000,50000
147,1546466400000,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
148,1546466400000,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000
153,1546467600000,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
154,1546467600000,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000
...,...,...,...,...,...,...,...,...
37709,1577269200000,30,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
37967,1577528400000,30,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
37969,1577528400000,30,100039,200073,버버리 홀스페리 페이톤 크로스백,잡화,880000,50000
38025,1577568000000,20,100372,201169,(싱글+싱글)일월 품안애 온수매트,생활용품,198000,50000
38123,1577661600000,20,100182,200612,무이자 선일금고 이볼브 시리즈 EV-020,생활용품,440000,50000

In [13]:
perform_df[perform_df['판매단가']>=perform_df[' 취급액 ']][' 취급액 '] = 0

In [20]:
perform_df[(perform_df['판매단가']<=perform_df[' 취급액 ']) & (perform_df[' 취급액 '] == 50000)]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
30731,1571269200000,20,100395,201272,1세트 센티멘탈 디퓨저골드,생활용품,31000,50000
33231,1573436400000,17,100395,201272,1세트 센티멘탈 디퓨저골드,생활용품,31000,50000
35895,1575768000000,20,100197,200665,오델로 남성 겨울모자 3종,잡화,29800,50000

In [24]:
import numpy as np
a = np.zeros(len(perform_df[perform_df[' 취급액 '] == 50000]))

In [30]:
b = perform_df[perform_df[' 취급액 '] == 50000].index

In [33]:
t = pd.DataFrame(list(zip(b,a))).set_index(0)

In [35]:
t.columns = [' 취급액 ']

In [49]:
perform_df.loc[b][' 취급액 '] = 0

In [51]:
perform_df[perform_df[' 취급액 '] == 50000]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
144,1546466400000,20,100148,200432,무이자 LG 울트라HD TV 55UK6800HNC,가전,1440000,50000
147,1546466400000,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
148,1546466400000,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000
153,1546467600000,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
154,1546467600000,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000
...,...,...,...,...,...,...,...,...
37709,1577269200000,30,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
37967,1577528400000,30,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
37969,1577528400000,30,100039,200073,버버리 홀스페리 페이톤 크로스백,잡화,880000,50000
38025,1577568000000,20,100372,201169,(싱글+싱글)일월 품안애 온수매트,생활용품,198000,50000
38123,1577661600000,20,100182,200612,무이자 선일금고 이볼브 시리즈 EV-020,생활용품,440000,50000